# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
dist-ssr/
*.local

# Tauri / Rust target builds
src-tauri/target/
src-tauri/gen/

# Local binaries & installers
*.exe
*.msi
*.deb
*.appImage

# IDE & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
